.features-wrapper {
  .feature-title {
    font-size: 2rem;
  }

  .feature-lead {
    font-size: 1rem;
  }

  .hero {
    border-radius: 5px;
  }

  code {
    width: 100%;
    background: transparent !important;
    border: none;
    padding: 1rem !important;
  }

  .carousel-wrapper {
    max-width: 50rem;
    .slider {
      border-radius: 12px 12px 0 0 !important;
      padding: 1rem 0 0 0;
      background: white !important;
    }

    .slick-dots {
      button {
        color: white !important;
      }
    }

    .img-fluid {
      max-width: 50rem;
      border-radius: 12px 12px 0 0 !important;
    }
  }

  .carousel-item {
    img {
      border-radius: 15px 15px 0 0 !important;
      padding: .2rem .1rem;
      width: 100%;
    }
  }

  .feature-img-wrapper {
    width: 100%;
  }

  .feature-img {
    max-height: 21rem;
    padding: .75rem;
    width: 100%;
    margin: auto;
  }

  @media (max-width: 768px) {
    .padding--xl {
      padding: 3rem 1.5rem !important;
    }

    .padding-vert--xl {
      padding: 3rem 1.5rem !important;
    }

    .feature-title {
      font-size: 1.5rem;
    }
    .feature-lead {
      font-size: 1rem;
    }
  }
}
