.features-wrapper {

  .feature-title {
    font-size: 1.6rem;
  }

  .feature-lead {
    font-size: 1.1rem;
  }

  code {
    width: 100%;
    background: transparent !important;
    padding: 1rem !important;
  }

  .carousel-wrapper {
    max-width: 50rem;
    .slider {
      border-radius: 12px 12px 0 0 !important;
      padding: 1rem 0 0 0;
      background: white !important;
    }

    .slick-dots {
      button {
        color: white !important;
      }
    }

    .img-fluid {
      max-width: 50rem;
      border-radius: 12px 12px 0 0 !important;
    }
  }

  .carousel-item {
    img {
      border-radius: 15px 15px 0 0 !important;
      padding: .2rem .1rem;
      width: 100%;
    }
  }

  .feature-img-wrapper {
    width: 100%;
  }

  .feature-img {
    max-height: 21rem;
    padding: .75rem;
    width: 100%;
    margin: auto;
  }
}
