.contact-us-wrapper {
    .icon-link {
        font-size: 1.2rem;
        svg {
            color: black;
            float: left;
            margin: 0 .2rem 0 0;
        }
    }
}

#message {
    height: 7rem;
}
