/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2d64da;
  --ifm-color-primary-dark: #2358c9;
  --ifm-color-primary-darker: #2153be;
  --ifm-color-primary-darkest: #1c459d;
  --ifm-color-primary-light: #4375de;
  --ifm-color-primary-lighter: #4f7de0;
  --ifm-color-primary-lightest: #7096e6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

body{
  /*font-family: none !important;*/
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4e89e8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
  padding: .75rem 0;
  justify-content: space-between;
  --bs-bg-opacity: 1;
  //background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

  .navbar__inner {
    max-width: 1320px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

}

.button-bordered {
  font-weight: var(--ifm-font-weight-semibold);
  border: 1px solid white;
}

.button-white {
  background-color: white !important;
  color: #333 !important;
  &:hover {
    background-color: #f7f3f2 !important;
  }
}

.button-large {
  background: var(--ifm-color-primary-lighter);
  padding: 0.5rem 2rem;
  border-radius: 30px;
  &:hover {
    background: var(--ifm-color-primary-light);
    color: white;
  }
}

.main-wrapper {
  min-height: 500px;
}

.header-container.container {
  width: 100%;
  padding: 10rem 0rem 5rem 0rem !important;
  background-image: url('/img/pattern-lg-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
  animation: zoomIn 17s infinite;
  max-width: var(--ifm-container-width-xl);

}

/* Define the keyframes for the zoom-in effect */
@keyframes zoomIn {
  0% {
    background-size: 100%; /* Start at normal size */
  }
  100% {
    background-size: 140%; /* End with zoomed-in size */
  }
}

.container {
  padding: 3rem 0 !important;
}

.footer .container {
  background-image: url('/img/pattern-lg-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}

.features_src-components-HomepageFeatures-styles-module .col:nth-child(3) .featureSvg_src-components-HomepageFeatures-styles-module {
  scale: 1.6;
}

.navbar__link svg{
  display: none!important;
}

.footer__link-item svg{
  display: none!important;
}

.items-center {
  align-items: center;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


/*======= css for blogs ======*/
img[alt=mlvsllm] {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

